body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    background-color: black;
    margin-bottom: 0px;
}

.header {
    align-self: flex-start;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
}

h2 {
    font-size: 18px;
    color: #E5E7EB;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937
}

.image-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.top-picture {
    width: 300px;
    height: 200px;
    align-self: center;
}

.bottom-images {
    width: 150px;
    height: 150px;
    border-radius: 25px;
    flex-shrink: 0;
}

.top-container {
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.bottom-header {
    display: flex;
}

.top-middle-container {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
}

.bottom-middle-container {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px;
}

.bottom-container {
    border-top: solid white 100px;
    border-bottom: solid white 100px;
    border-left: solid white 150px;
    border-right: solid white 150px;
    background-color: #3882F6;
    display: flex;
    padding: 30px;
    flex-direction: column;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.header-links {
    display: flex;
    gap: 20px;
    color: #E5E7EB;
    font-size: 18px;
}

.left-header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-style: oblique 23deg;
    color: #1F2937
}

.thor {
    font-weight: bolder;
    font-size: 24px;
}

.parent-image {
    display: flex;
}

.bottom-button button {
    border-color: white;
}

.sign-up {
    color: #E5E7EB;
}